@using Timur.Models
@model IEnumerable<Timur.Models.Film>
@{
    ViewBag.Title = "Index";
}

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>BosFilm</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link type="text/css" rel="stylesheet" href='@Url.Content("~/Content/Site.css")' />
</head>
<body style="background : url('../Content/Images/fishnets-and-hearts.png');">
    
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("BosFilm", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @if (User.IsInRole("admin"))
                    {
                        <li style="font-size:18px; margin-right:-140px;">@Html.ActionLink("ADMIN", "AdminIndex", "Admin")</li>
                    }
                    <li style="padding-top:12px; margin-left:255px;">
                        @using (Html.BeginForm())
                        {
                            <div style="color:rgb(157,157,157); display:inline; justify-content:center;">
                                <input type="hidden" value="@ViewBag.YearId" name="z" />
                                <input type="hidden" value="@ViewBag.GenreId" name="x" />
                                Найти по названию:<p style="color:black; display:inline;"> @Html.TextBox("SearchString") </p>
                                <input autocomplete="off" style="background-color: rgb(34,34,34); color: rgb(157,157,157); border:none;" type="submit" value="Поиск" />
                            </div>
                        }
                    </li>
                    @if (User.Identity.IsAuthenticated)
                    {
                        <li style="margin-left:100px; margin-top:15px; color: rgb(157,157,157);"> @User.Identity.Name :</li>
                        <li>@Html.ActionLink("Личный акаунт", "GetUser", "User", new { name = ViewBag.UserName })</li>
                        <li>@Html.ActionLink("Выйти", "Exit", "Account")</li>

                    }
                    else
                    {
                        <li style="margin-left:170px;">@Html.ActionLink("Войти", "Login", "Account")</li>
                        <li>@Html.ActionLink("Зарегистрироваться", "Register", "Account")</li>
                    }
                </ul>
            </div>
        </div>
    </div>


    <div class="container;" style="margin-top:-20px;">
        <div class="form-inline" style="margin-top:40px;">
            @if (ViewBag.SearchStatus == 0)
            {
                <form method="get" style="text-align: center;">

                    <select name="x" onchange="document.getElementById('Selected_option1').value = value;" class="form-control" style="width:205px;  text-align-last: center; font-size:16px; color:black;">
                        <option id="x13" value="13">Все жанры</option>
                        <option id="x1" value="1">Комедия</option>
                        <option id="x2" value="2">Драма</option>
                        <option id="x3" value="3">Трилер</option>
                        <option id="x4" value="4">Аниме</option>
                        <option id="x5" value="5">Боевик</option>
                        <option id="x6" value="6">Спорт</option>
                        <option id="x7" value="7">Мелодрама</option>
                        <option id="x8" value="8">Ужасы</option>
                        <option id="x9" value="9">Фантастика</option>
                        <option id="x10" value="10">Приключения</option>
                        <option id="x11" value="11">Мультфильм</option>
                        <option id="x12" value="12">Биография</option>

                    </select>
                    <select name="z" onchange="document.getElementById('Selected_option').value = value;" class="form-control" style="text-align-last: center; font-size:16px; color:black;">
                        <option id="7" value="7">Все года</option>
                        <option id="1" value="1">1990-1995</option>
                        <option id="2" value="2">1995-2000</option>
                        <option id="3" value="3">2000-2005</option>
                        <option id="4" value="4">2005-2010</option>
                        <option id="5" value="5">2010-2015</option>
                        <option id="6" value="6">2015-2020</option>

                    </select>
                    <input class="btn btn-default" style="font-size:16px; color:black; height:34px;" type="submit" value="Фильтровать" />
                </form>
            }
        </div>
        <input style="display:none;" id="Selected_option" name="text" value=@ViewBag.YearId type="text" />
        <input style="display:none;" id="Selected_option1" name="text" value=@ViewBag.GenreId type="text" />
        <div style="text-align:center;">
            @if (ViewBag.SearchStatus == 0)
            {
                @Html.ActionLink("|Сортировка по названию фильма   |", "Index", new { sortOrder = ViewBag.NameSortParm, z = ViewBag.YearId, x = ViewBag.GenreId, searchString = ViewBag.SearchId }, new { style = "font-weight:bolder; font-size:18px; color:black;" })
                @Html.ActionLink("Сортировка по году выхода фильма   |", "Index", new { sortOrder = ViewBag.YearSortParm, z = ViewBag.YearId, x = ViewBag.GenreId, searchString = ViewBag.SearchId }, new { style = "font-weight:bolder; font-size:18px; color:black;" })
                @Html.ActionLink("Сортировка по длительности фильма    |", "Index", new { sortOrder = ViewBag.LengthSortParm, z = ViewBag.YearId, x = ViewBag.GenreId, searchString = ViewBag.SearchId }, new { style = "font-weight:bolder; font-size:18px; color:black;" })
            }
        </div>
        <div style="display:flex; justify-content:center; flex-wrap:wrap; text-align: center;">
            @foreach (var item in Model)
            {
                <div style="width:340px; margin-top:20px; margin-right:20px; outline: 4px solid #000000;">
                    @Html.ActionLink(item.Film_name, "Details", new { id = item.Id }, new { style = "font-weight:bolder; font-size:18px; color:black;" })
                    <img src="~/Content/Images/@Html.DisplayFor(modelItem => item.Film_picture)" height="490" width="340" />
                    <p style="margin-bottom:0px; color:black; font-weight:bolder;">Год выпуска: @Html.DisplayFor(modelItem => item.Film_year)</p>
                    <p style="color:black; font-weight:bolder;">Длительность: @Html.DisplayFor(modelItem => item.Film_leng) мин</p>
                </div>
            }
        </div>
        @section Scripts {
            <script>
                $(document).ready(function () {
                    switch ($('#Selected_option').val()) {
                        case "1":
                            $('#1').attr("selected", "selected");
                            break;
                        case "2":
                            $('#2').attr("selected", "selected");
                            break;
                        case "3":
                            $('#3').attr("selected", "selected");
                            break;
                        case "4":
                            $('#4').attr("selected", "selected");
                            break;
                        case "5":
                            $('#5').attr("selected", "selected");
                            break;
                        case "6":
                            $('#6').attr("selected", "selected");
                            break;
                        case "7":
                            $('#7').attr("selected", "selected");
                            break;
                    }
                });
                $(document).ready(function () {
                    switch ($('#Selected_option1').val()) {
                        case "1":
                            $('#x1').attr("selected", "selected");
                            break;
                        case "2":
                            $('#x2').attr("selected", "selected");
                            break;
                        case "3":
                            $('#x3').attr("selected", "selected");
                            break;
                        case "4":
                            $('#x4').attr("selected", "selected");
                            break;
                        case "5":
                            $('#x5').attr("selected", "selected");
                            break;
                        case "6":
                            $('#x6').attr("selected", "selected");
                            break;
                        case "7":
                            $('#x7').attr("selected", "selected");
                            break;
                        case "8":
                            $('#x8').attr("selected", "selected");
                            break;
                        case "9":
                            $('#x9').attr("selected", "selected");
                            break;
                        case "10":
                            $('#x10').attr("selected", "selected");
                            break;
                        case "11":
                            $('#x11').attr("selected", "selected");
                            break;
                        case "12":
                            $('#x12').attr("selected", "selected");
                            break;
                        case "13":
                            $('#x13').attr("selected", "selected");
                            break;
                    };
                });
                $(document).ready(function () { $("input").attr("autocomplete", "off"); });
            </script>
        }
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
</body>
</html>